/* Estilo para o cabeçalho */
.navbar {
    padding: 10px 0 40px 0; /* Ajusta o padding do cabeçalho */
    background-color: #6c757d; /* Cor de fundo cinza */
    text-align: center; /* Centraliza o conteúdo do cabeçalho */
}

/* Estilo para o nome */
#name {
    color: white; /* Cor do texto em branco */
    font-weight: bold; /* Texto em negrito */
    font-size: 2.5rem; /* Aumenta o tamanho do texto */
    display: block; /* Garante que ocupe toda a largura disponível */
    margin: 0 auto; /* Centraliza o elemento */
    padding: 5px 0; /* Espaçamento menor em torno do nome */
}

/* Estilo geral dos cards */
.card {
    border: 1px solid #ddd; /* Borda do card */
    border-radius: 0.5rem; /* Cantos arredondados */
    transition: transform 0.3s; /* Transição suave para o efeito de hover */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
    border: none; /* Remove borda padrão */
	text-align: center;
}

/* Efeito ao passar o mouse sobre o card */
.card:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho do card */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
}

/* Estilo para o corpo dos cards */
.card-body {
    padding: 1.5rem; /* Padding interno dos cards */
}

/* Estilo para as barras de progresso */
.progress {
    height: 1rem; /* Altura da barra de progresso */
    border-radius: 0.5rem; /* Cantos arredondados das barras */
}

/* Estilo para as barras de progresso preenchidas */
.progress-bar {
    background-color: #007bff; /* Cor da barra de progresso */
}

/* Estilo para o espaçamento entre os cards */
.mb-4 {
    margin-bottom: 1.5rem; /* Espaçamento entre os cards */
}

/* Responsividade */
@media (max-width: 768px) {
    h2 {
        font-size: 1.5rem; /* Ajusta o tamanho do título em telas menores */
    }
    
    .card {
        margin-bottom: 1.5rem; /* Adiciona margem abaixo do card em telas menores */
    }
}/* Estilo do rodapé */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #6c757d; /* Cor de fundo cinza */
    color: white; /* Cor do texto em branco */
}

/* Estilo do botão */
.btn {
    margin-top: 10px; /* Espaço acima do botão */
    font-size: 1.25rem; /* Tamanho da fonte do botão */
	background-color:transparent;
	color:black;
	border: none;
}

.btn:hover {
    text-decoration: none; /* Garante que o sublinhado não apareça ao passar o mouse */
	background-color:transparent;
	color: #0e3480;
	transform: scale(1.05); /* Aumenta levemente o tamanho do card */
}
@@media (max-width: 768px) {
    .btn {
        display: block; /* Garante que o botão seja exibido em telas pequenas */
        margin: 10px auto; /* Centraliza o botão */
    }
}
